<!-- <div class="row  g-5"> -->

<!-- <div class="col-6 bg-white shadow-sm border-radius pe-2">
    <div class="d-flex border justify-content-between p-3">
        <div class="patient-list-item d-flex align-items-center"> -->
<!-- Profile Image of the Patient -->
<!-- <figure class="patient-profile border rounded-circle overflow-hidden mb-0">
                <img src="../../../../assets/images/girl-face images.png" alt="image" class="w-100 h-auto">
            </figure>
            <div class="ps-3">
                <h4 class="mb-2">Patient Name</h4>
                <p class="mb-0">gender <span>.</span> age</p>
            </div>
        </div>
        <div class="d-flex flex-column pt-3">
            <p class="mb-2">Time</p>
            <p>0987654321</p>
        </div>
    </div>
    <div class="d-flex border justify-content-between p-4">
        <div class="d-flex"> -->
<!-- Profile Image of the Patient -->
<!-- <figure class="patient-profile border rounded-circle overflow-hidden">
                <img src="../../../../assets/images/young-girl.jpg" alt="image" class="w-100 h-auto">
            </figure>
            <div class="ps-3 pt-3">
                <h4>Patient Name</h4>
                <p>gender . age</p>
            </div>
        </div>
        <div class="d-flex flex-column pt-3">
            <p>Time</p>
            <p>0987654321</p>
        </div>
    </div>
</div>

<div class="col-6 bg-white shadow-sm border-radius ps-2">
    <div class="d-flex justify-content-between border border-success p-2">
        <h3 class="p-2">Prescriptions</h3>
        <button class="btn btn-secondary">
                <span class="icon-plus"></span>
            </button>
    </div>
    <div>form</div>
</div> -->
<!-- </div> -->

<!-- <div class="container px-4 bg-light">
    <div class="row gx-5 "> -->
<!-- Patients List  -->
<!-- <div class="col bg-white shadow-sm border-radius">
            <div class="d-flex border justify-content-between p-3 border bg-light">
                <div class="patient-list-item d-flex align-items-center"> -->
<!-- Profile Image of the Patient -->
<!-- <figure class="patient-profile border rounded-circle overflow-hidden mb-0">
                        <img src="../../../../assets/images/girl-face images.png" alt="image" class="w-100 h-auto">
                    </figure>
                    <div class="ps-3">
                        <h4 class="mb-2">Patient Name</h4>
                        <p class="mb-0">gender <span>.</span> age</p>
                    </div>
                </div>
                <div class="d-flex flex-column pt-3">
                    <p class="mb-2">Time</p>
                    <p>0987654321</p>
                </div>
            </div>
            <div class="d-flex border justify-content-between p-4">
                <div class="d-flex"> -->
<!-- Profile Image of the Patient -->
<!-- <figure class="patient-profile border rounded-circle overflow-hidden">
                        <img src="../../../../assets/images/young-girl.jpg" alt="image" class="w-100 h-auto">
                    </figure>
                    <div class="ps-3 pt-3">
                        <h4>Patient Name</h4>
                        <p>gender . age</p>
                    </div>
                </div>
                <div class="d-flex flex-column pt-3">
                    <p>Time</p>
                    <p>0987654321</p>
                </div>
            </div>
        </div> -->

<!-- Patients Details -->
<!-- <div class="col bg-white shadow-sm border-radius">
            <div class="d-flex justify-content-between border border-success p-3 border bg-light">
                <h3 class="p-2">Prescriptions</h3>
                <button class="btn btn-secondary">
                    <span class="icon-plus"></span>
                </button>
            </div>
            <div>form</div>
        </div>
    </div>
</div> -->




<!-- Main-Container -->
<div class="px-4 py-5">
    <!-- Wrapper Container -->
    <div class="row gx-5 px-4">
        <!-- Start: Patient List Container -->
        <div class="col">
            <app-mypatient-list-presentation [patientData]="PatientListData$ | async"></app-mypatient-list-presentation>

            <!-- <div class="p-3 border bg-white shadow-sm border-radius">
                <div class="d-flex border justify-content-between p-3 border bg-light" *ngFor="let data of patientData" (click)="showData(data.id)">
                    <div class="patient-list-item d-flex align-items-center"> -->
            <!-- Profile Image of the Patient -->
            <!-- <figure class="patient-profile border rounded-circle overflow-hidden mb-0">
                            <img src={{data.image}} alt="image" class="w-100 h-auto">
                        </figure>
                        <div class="ps-3">
                            <h4 class="mb-2">{{data.fullname}}</h4>
                            <p class="mb-0">{{data.gender}} <span>.</span> {{data.age}} yrs</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column pt-3">
                        <p class="mb-2">Time</p>
                        <p>{{data.mobile}}</p>
                    </div>
                </div>
            </div> -->

        </div>
        <!-- End: Patient List Container -->
        <!-- Start: Patient Details Container -->
        <div class="col">
            <div class="p-3 border bg-white shadow-sm border-radius ">
                <div class="d-flex justify-content-between align-items-center  p-3 bg-light border-bottom border-2">
                    <h3 class="p-2">Prescriptions</h3>
                    <button class="btn btn-secondary">
                        <span class="icon-plus"></span>
                    </button>
                </div>
                <div class="d-flex pt-4">
                    <div class="d-flex align-content-center">
                        <span>icon</span>
                        <p>Disease name</p>
                    </div>
                    <div>
                        Duration
                    </div>

                </div>
            </div>
        </div>
        <!--End: Patient Details Container -->
    </div>
    <!--End: Wrapper container -->
</div>
<!--End: Main Container -->