<div class="container py-5">
    <div class="d-flex justify-content-between mb-5">
        <button class="btn btn-primary" routerLink="/customer/form"> Add </button>
        <button class="btn btn-success" routerLink="/filter"> Filter </button>
    </div>

    <table class="table py-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of customerList, let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td> {{ m.name }} </td>
                <td> {{ m.age }} </td>
                <td> {{ m.gender }} </td>
            </tr>
        </tbody>
    </table>
</div>