<!-- <div class="prescripton-diseases position-relative rounded-3 d-flex flex-column justify-content-between aligm-items-center">
            <div *ngFor="let item of data; let i = index;">
                <button class="accordion cursor-pointer" (click)="toggleAccordian($event, i)" id="A1"><span
                        class="up-icon" [class.icon]="id === 'A1'"> </span> {{item.parentName}} </button>
                <div class="panel pb-3 pt-4" hide="!item.isActive">
                    <table>
                        <thead class="align-middle">
                            <tr>
                                <th scope="col">Medicine Name</th>
                                <th scope="col">Dosage</th>
                                <th scope="col">Timing</th>
                                <th scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let child of item.childProperties" class="align-middle">
                            <tr>
                                <td>{{child.Medicine}}</td>
                                <td>{{child.dosage}}</td>
                                <td>{{child.Timing}}</td>
                                <td>{{child.days}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->

<!-- kevang code -->
<!-- 
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let item of selectedData; let i = index">
                <h2 class="accordion-header" [id]="'heading'+i">
                    <button class="accordion-button" type="button" (click)="toggleAccordian($event, i)" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i" [ngClass]="{ 'collapsed': i != 0 }">
                        Accordion Item {{i}}
                    </button>
                </h2>
                <div [@accordionItemContentAnimation]="state" [id]="'collapse'+i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample" [ngClass]="{'show' : activeIndex === i}">
                    <div class="accordion-body">
                        {{item.content}}
                    </div>
                </div>
            </div>
        </div> -->

<!-- <span class="text-primary fw-bold fs-5 "><i class='bx bxs-right-arrow px-3' style="font-size: 0.8rem; "></i> Diarrhea, Fever </span>
        <span class="text-muted pt-2 " style="font-size: 0.8rem; ">13 April 2021</span>
        <div class="prescription-medicine border border-3 p-3 position-absolute w-100 ">
            <table class="w-100 " style="font-size: 0.8rem; ">
                <tr style="color: #76969e; ">
                    <th>Medicine Name</th>
                    <th>Doages</th>
                    <th>Timing</th>
                    <th>Days</th>
                </tr>
                <tr>
                    <td> Paracetamol </td>
                    <td> 1 </td>
                    <td> Mo,Af,Ni </td>
                    <td> 3 </td>
                </tr>
            </table>
        </div> -->
<div class="p-3 border bg-white shadow-sm border-radius h-100 ">
    <div class="d-flex justify-content-between align-items-center  p-3 bg-light border-bottom border-2">
        <h3 class="p-2">Prescriptions</h3>
        <button class="btn btn-secondary">
            <span class="icon-plus"></span>
        </button>
    </div>
    <!-- <div class="wrapper-accordion d-flex pt-4"> -->

    <!-- <div class="accordion"> -->
    <!-- <div class="accordion-heading" id="A1" (click)="accordion('A1')" >
                    <button class="accordion-header d-flex justify-content-between align-content-center">
                    <div class="d-flex">
                        <span class="plus-icon up-icon p-3" [class.icon]="id === 'A1'"> ^ </span>
                        <p class="accordion-desc">Disease name</p>
                    </div>
                    <div>
                        <p class="accordion-desc">time</p>
                    </div>
                    </button>
                </div>
                
                <div class="accordion-content" *ngif="id === 'A1'">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dolor delectus voluptates,
                     nisi vitae ipsa ea odio beatae! 
                    Laborum veniam tempore expedita aliquid quos dolorum repellat obcaecati aspernatur soluta dolorem.
                </div>
            </div>
    </div> -->
    <!-- </div> -->
    <div class="container">
        <div class="accordion-heading" id="A1" (click)="accordion('A1')">Accordion 1
            <span class="pull-right up-icon" [class.icon]="id === 'A1'"> ^ </span>
        </div>

        <div class="accordion-content" *ngif="id === 'A1'">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequuntur alias dolorum soluta! Vero minima recusandae expedita officia, est saepe esse asperiores eaque voluptatibus neque aspernatur animi explicabo nemo laboriosam!
        </div>

    </div>